BOT_TOKEN=your_token
BOT_USERNAME=your_bot_username
DB_HOST=postgres
DB_NAME=sevengram
DB_USER=sevengram
DB_PASSWORD=sevengram
DB_PORT_HOST=5432
DB_PORT_CONTAINER=5432

USER_AGENT=sevengram/local
SEVENTV_URL=https://7tv.app/
SEVENTV_API_URL=https://api.7tv.app/v4/gql
